body{
	font-family: sans-serif;
	background: #d5f0f3;
}
 
h1{
	text-align: center;
	font-weight: 300;
}
 
.kotak_login{
	width: 720px;
	background: white;
	margin: 80px auto;
	padding: 30px 20px;
}
 
label{
	font-size: 11pt;
    color: rgb(68, 67, 67);
}
 
.form_input{
	box-sizing : border-box;
    border-color: #6ee3f0;
	width: 100%;
	padding: 7px;
	font-size: 11pt;
	margin-bottom: 20px;
}
 
.tombol_submit{
	background: #0aabbd;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
    cursor: pointer;
}
 